
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #27AE60;
}

input:focus + .slider {
  box-shadow: 0 0 1px #27AE60;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ok.edit {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #9DE0AD;
  color: #008800;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border: 4px solid #008800;
  box-shadow: 5px 5px 5px #888;
  display: inline-block;
  margin-right: 20px;
}

#progressbar    {width:355px;float:left;}
.button         {float:left;margin:0px 10px;}
nav             {clear:both;padding-top:30px;}

#fixed-bar {
bottom: 0;
height: 34px;
padding: 13px 0 4px;
position: fixed;
width: 100%;
z-index: 5000;
}
.contenedor-div{
      position:relative;
}
.mi-imagen-abajo-derecha{
    position:absolute;
    bottom:5px;
    right:10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input[type=checkbox]:checked ~ div label{
    background: url(http://ramyasspace.files.wordpress.com/2011/06/tick.jpg);
    background-size: 100%;
}

.body{
    background: #FFFFFF;
  }

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}